:root {
    --star-size: 20px;
    --star-color: #fff;
    --star-background: #fc0;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
}

.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body-content { 
    margin-top: 10rem;
}
.navbar-inverse {
    background-color: #F5D103;
    color: #000;
}

.category { 
    padding: 20px;
    border-radius: 20px;
}

.category_item {
    padding: 20px;
    background-color: #f5d103;
    display: flex;
    justify-content: center;
}

.category_item > a { 
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

.seven h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.seven h1:after, .seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color: #f8f8f8;
}
.seven { 
    margin-top: 5rem;
}

.nav_main {
    background-color: black;
    padding: .5rem;
    color: white;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

.nav_main a:hover { 
    color: yellow;
    text-decoration: none;
}

.nav_buttom {
    display: flex;
    align-items: center;
}

.nav_action-button { 
    color: #fff;
}

.nav_main_cart {
    color: #fff;
    border: 1px solid white;
    padding: 3px;
    border-radius: 5px;
}

.nav_main_cart-icon{
    display: flex;
    justify-content: flex-end;
}

.form-inline {
    float: right;
    padding-top: 10px;

}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-brand {
    color: cadetblue;
}

.spnoibat {
    background-color: white;
}

.spnoibat h3 {
   padding-left: 30px;
}
.image-action:hover { 
    animation: moveInTop .5s ease-in 
}
.footer { 

}

.btn-cart {
    background-color: #E96D29;
    border: 0;
    padding: 1rem 2rem;
    color: #fff;
}

.btn-move-to-cart {
    background-color: red;
    border: 0;
    padding: 1rem 2rem;
    color: #fff;
}

.btn-description {
    background-color: #c50000;
    border: 0;
    padding: 1rem 2rem;
    color: #fff;
}
.btn-order {
    background-color: #E96D29;
    border: 0;
    padding: 1rem 2rem;
    color: #fff;
}
.login-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 4rem;
    font-size: 2rem;
}
.login-main-content { 
    display: flex;
    justify-content: center;
}
.login-main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Product detail page*/
.product { 

}

.product-header { 
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.product-header-name {
    font-size: 1.8rem;
    font-weight: bold;
}

.product-content { 
    font-size: 1.8rem;
}

.product-content-ram {
    display: flex;
    padding: .5rem;
}

.product-content-img {
    padding: .5rem;
    display: flex;
    justify-content: center;
}

.product-content-area {
    display: flex;
    padding: .5rem;
}

.product-content-price {
    display: flex;
    padding: .5rem;
    color: red;
    font-weight: bold;
}

.product-content-action {
    padding: 2rem;
}

.product-header-maintenance {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.product-content-detail {
    font-size: 1.5rem;
}

.login-main-fail { 
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #eb3434;
}

login-main-form { 
    display: flex;
    justify-content: center;
}
.form-group { 

}



@keyframes moveInTop {
    %0 {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-30px);
    }
}
