@{ ViewBag.Title = "Contact"; }
<h2>Thông tin về Onion ICT Shop</h2>
<h3>Bạn có thể liên hệ với chúng tôi &#128231;</h3>
<div style="background-image: url('https://metricleo.com/wp-content/uploads/2021/04/LR-29-scaled-1-1280x720.jpg');">
</div>
<div>
    <p><b>Tổng đài hỗ trợ &#128222; </b>(Miễn phí gọi)</p>

    <p>
        Gọi mua: <b><a href="tel:+84344387371">01234567</a></b>(7:30 - 22:00)

        <br />Kỹ thuật: <b><a href="tel:+84344387371">01234567</a></b>(7:30 - 22:00)

        <br />Khiếu nại:<b> <a href="tel:+84344387371">01234567</a></b> (8:00 - 21:30)

        <br />Bảo hành: <b><a href="tel:+84344387371">01234567</a></b> (8:00 - 21:00)

    </p>
</div>

<address>
    <strong>Hổ trợ viên 1:</strong>   <a href="mailto:tuanntch1@gmail.com">Tuan@OnionICTShop.com</a><br />
    <strong>Hổ trợ viên 2:</strong> <a href="mailto:Minhho.technology@gmail.com">Minh@OnionICTShop.com</a>
</address>
