@model Ictshop.Models.PhanQuyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-content-main">
    <div class="admin-content-main-header">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <button class="btn btn-success">@Html.ActionLink("Add Product", "Create")</button>
    </div>
    <div class="admin-content-main-body">
        <div>
            <h4>Phân quyền </h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tên quyền
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenQuyen)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>

    </div>
</div>

